* {
    background-color: #FFC6A6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}











header {
    margin-left: 4em;
    margin-right: 4em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.Logo {
    height: 6em;
}

.Title {
    text-shadow: 0.1em 0.1em 0.2em #00000054;
}

.Button {
    padding: 1em 0.2em 1em 0.2em;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FF7700;
    border-radius: 4em;
    border: none;

    box-shadow: 0.15em 0.15em 0.2em #00000054;
}

button.Button {
    background-color: #EB491A;
}

.Button-h3 {
    background-color: #EB491A;
    display: flex;
    flex-direction: column;
    align-items: center;
}





.center-container {
    margin-left: 4em;
    margin-right: 4em;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


main {
    padding: 0.6em 0.4em 0.6em 0.4em;
    margin-bottom: 1em;

    display: inline-block;
    border-radius: 1em;
    box-shadow: 0.15em 0.15em 0.2em #00000054;
}

main.main {
    background-color: #FF7700;
}

.main {
    background-color: #00000000;

}










.footer {
    display: flex;
    flex-direction: row;

}

form {
    margin: 1em;
    width: 20em;
    display: flex;
    flex-direction: column;
    text-shadow: 0.1em 0.1em 0.2em #00000054;

}

section.input {
    margin: 0.3em;
}

input {
    display: inline;
    background-color: white;

    border-radius: 1em;
    border: none;

    padding: 0.4em;

    box-shadow: 0.15em 0.15em 0.2em #00000054;
}

button {
    background-color: #FF7700;
}


.invisible {
    display: none;
    
}

#aviso-preencher{
    color: red;

}






.prints{
    width: 42em;
}








.texto-grande {
    font-size: 4em;
    line-height: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.texto-pequeno {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}